<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Page</title>
    <link rel="stylesheet" href="/static/status_Page.css">
</head>
<body>
    <div class="container">
        <div class="error-content">
            <h1>404</h1>
            <h2>oops!</h2>
            <p>The page you are looking for couldn’t be found.</p>
            <div class="buttons">
                <a href="/" class="btn">Go home</a>
                <a href="" class="btn">Contact us</a>
            </div>
        </div>
        <div class="image">
            <img src="/static/images/error.png" alt="404 illustration">
        </div>
    </div>
</body>
</html>
