* {
  font-family: Poppins, "Open Sans", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.firstMerge .members ul::-webkit-scrollbar,
.firstMerge .locations ul::-webkit-scrollbar {
  display: none;
}
.secondMerge .concert-dates ul::-webkit-scrollbar ,
.secondMerge .relations::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
  height: 100vh;
}
body {
  background-color: #141414;
  transition: 0.5s;
}
.lien {
  text-decoration: none;
  display: block;
}
.users {
  display: flex;
}

.users a {
  position: relative;
  color: #00ff26;
  letter-spacing: 0.3px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 15px;
}
.users a::after{
  content: "";
  position: absolute;
  background-color: #00ff26;
  height: 2px;
  width: 0;
  left: 0;
  top: 22px;
  transition: 0.5s;
}
.users a:hover::after{
  width: 100%;
}
.title a {
  color: #00ff26;
  text-decoration: none;
  font-size: 32px;
}

/* Light mode and Dark mod*/
nav:has(#darkmode-toggle:checked) {
  background-color: rgb(249, 237, 214);
}
body:has(#darkmode-toggle:checked) {
  background-color: rgb(249, 237, 214);
}
body:has(#darkmode-toggle:checked) .card h2 {
  color: #00ff26;
}
body:has(#darkmode-toggle:checked) .title a,
body:has(#darkmode-toggle:checked) .users a {
  color: black;
}
body:has(#darkmode-toggle:checked) .list svg{
  fill: black;
}
body:has(#darkmode-toggle:checked) .image-text h1,
body:has(#darkmode-toggle:checked) .list li,
body:has(#darkmode-toggle:checked) .image-text li,
body:has(#darkmode-toggle:checked) .image-text li,
body:has(#darkmode-toggle:checked) .lien,
body:has(#darkmode-toggle:checked) .text{  

    color: black;
}
.mode {
  display: flex;
  align-items: center;
  margin: 0 15px;
}
.mode label {
  width: 45px;
  height: 23px;
  position: relative;
  display: block;
  background-color: #242424;
  border-radius: 20px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.8s;
}

.mode label::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: linear-gradient(to right, #414040, #3a3a3a);
  border-radius: 50px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: 0.8s;
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

input[type="checkbox"]:checked + label {
  background-color: #ebebeb;
}

input[type="checkbox"]:checked + label::after {
  left: 43px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #ffcc89, #d8860b);
}

.mode label:active::after {
  width: 27px;
}

label svg {
  position: absolute;
  width: 40px;
  top: 10px;
  z-index: 100;
}

label svg.sun {
  color: yellow;
  font-weight: bold;
  left: 13px;
  top: 4px;
  transition: 0.5s;
}

label svg.moon {
  fill: #fff;
  font-weight: bold;
  right: 13px;
  top: 5px;
  transition: 0.5s;
}

input[type="checkbox"]:checked + label svg.sun {
  fill: white;
}

input[type="checkbox"]:checked + label svg.moon {
  fill: #7e7e7e;
}
/*End of Light mode and Dark mod*/

nav {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 15px 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0a0a0a;
  box-shadow: 0px 1px 2px #00ff26;
}
.detailCard {
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: white;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.image-text {
  width: 350px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.image-text h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  color: white;
}
.image-text img {
  filter: contrast(150%);
  cursor: pointer;
  animation: floatImage 2s ease-in-out infinite;
  border-radius: 30px;
  width: 80%;
  height: 80%;
}
.firstMerge ,.secondMerge{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.firstMerge .members ul,.firstMerge .locations ul,.secondMerge .concert-dates ul,.secondMerge .relations  {
  padding: 15px 20px;
  max-height: 300px;
  max-width: 320px;
  overflow: auto;
  height: 300px;
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: #141414;
  border-radius: 30px;
  border: 1px solid #3cff0091;
}
.firstMerge .members h2,.firstMerge .locations h2,.secondMerge .concert-dates h2{
  text-align: center;
  margin-bottom: 5px;
}
.text{
  position: relative;
  top: 15px;
}
.firstMerge .members ul li ,.firstMerge .locations ul li ,.secondMerge .concert-dates ul li{
  list-style-type: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 20px;
  background-color: #132031;
  color: white;
}
.image-text ul li{
  list-style-type: none;
}
.image-text ul {
  margin-top: 10px;
}
.list{
  margin-top:5px;
  width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list svg{
  fill: white;
}
.secondMerge .relations details p{
  list-style-type: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 20px;
  background-color: #132031e8;
  color: #00ff26;
}
.firstMerge .locations,.secondMerge .relations {
  margin-top: 20px;
}
.secondMerge .relations details summary{
  cursor: pointer;
  list-style-type: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 20px;
  background-color: #132031;
  color: white;
}

/* Animations */
@keyframes floatImage {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -30px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}