* {
  font-family: Poppins, "Open Sans", sans-serif ;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #0a0a0a ;
}
#up:target {
  scroll-margin-top: 70px;
  animation: scrollDelay 1s ease-in-out;
}
.lien {
  text-decoration: none;
  color: white;
  display: block;
}
.title a {
  color: #009F18;
  text-decoration: none;
  font-size: 32px;
}
nav {
  animation: navbar 1.5s ease-in-out;
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 15px 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0a0a0a;
  box-shadow: 0px 2px 3px #009F18;
}
.users a {
  color: #009F18;
  text-decoration: none;
  font-size: 20px;
  margin-left: 25px;
}
.cards-groups {
  width: 80%;
  margin: auto;
  animation: group-cards 1.5s ease-in-out;
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  width: 280px;
  padding: 40px 30px 40px 20px;
  background: #141414;
  border-radius: 24px;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(0.9);
  box-shadow: 0px 5px 10px #009F18;
}
.card img {
  width: 80%;
  height: 60%;
  border-radius: 30px;
  margin: 10px;
}
.card h2 {
  margin-top: 15px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}
.up {
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 14px;
  right: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #009F18;
}
.up:hover {
  background-color: #06cc24;
}
.up img {
  width: 40px;
  height: 40px;
}

/* Animations */
@keyframes scrollDelay {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes group-cards {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes navbar {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive design */
@media (max-width: 1350px) {
  .lien h2{
    font-size: 18px;
  }
  nav {
    padding: 15px 120px;
  } 
  .cards-groups {
    width: 90%;
  }
  .card {
    width: 280px;
    margin: 15px;
  }
  .card img {
    width: 65%;
    height: 45%;
  }
}

@media (max-width: 850px) {
  .cards-groups {
    width: 90%;
  }
  .title a {
    font-size: 28px;
  }
  nav {
    padding: 15px 90px;
  }
  .card h2 {
    font-size: 20px;
  }
  .card {
    width: 250px;
  }
}

@media (max-width: 660px) {
  nav {
    padding: 15px 90px;
  }
  .title {
    margin: auto;
  }
  .users a {
    display: none;
  }
  .title a {
    font-size: 32px;
  }
  .card {
    width: 250px;
  }
  .card h2 {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  nav {
    padding: 0 !important;
  }
  .card {
    width: 200px;
  }
}
@media (max-width: 400px) {
  .title a {
    font-size: 30px;
  }
  .card {
    width: 260px;
  }
}
