* {
  font-family: "Arial";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  height: 100vh;
  background-color: #9785c5 ;
}
#up:target {
  scroll-margin-top: 70px;
  animation: scrollDelay 1s ease-in-out;
}
.lien {
  text-decoration: none;
  color: white;
  display: block;
}
.title a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 32px;
}
nav {
  animation: navbar 1.5s ease-in-out;
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 15px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #393f88;
  box-shadow: 0px 2px 7px rgb(200, 192, 248);
}
.users a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 25px;
}
.cards-groups {
  animation: group-cards 1.5s ease-in-out;
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 350px;
  padding: 50px 30px 50px 20px;
  background: #121017;
  border-radius: 24px;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(0.9);
  box-shadow: 0px 5px 10px rgb(200, 192, 248);
}
.card img {
  width: 80%;
  height: 60%;
  border-radius: 30px;
  margin: 10px;
}
.card h2 {
  margin-top: 20px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}
.up {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 14px;
  right: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #0071d9;
}
.up:hover {
  background-color: #0380f5;
}
.up img {
  width: 40px;
  height: 40px;
}

/* Animations */
@keyframes scrollDelay {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes group-cards {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes navbar {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive design */
@media (max-width: 1200px) {
  .card {
    width: 280px;
  }
}

@media (max-width: 850px) {
  .title a {
    font-size: 28px;
  }
  .card img {
    width: 65%;
    height: 45%;
  }

  .card h2 {
    font-size: 20px;
  }
}

@media (max-width: 660px) {
  .title {
    margin: auto;
  }
  .users a {
    display: none;
  }
  .title a {
    font-size: 32px;
  }
  .card {
    width: 250px;
  }
  .card h2 {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .card {
    width: 320px;
  }
}
@media (max-width: 400px) {
  nav {
    padding: 0 !important;
  }
  .title a {
    font-size: 30px;
  }
  .card {
    width: 260px;
  }
}
